{% extends "base.html" %}


{% block head %}
<title>Menambahkan Ruangan Baru</title>
{% endblock %}


{% block body %}

<h1>Tambah Ruangan</h1>

<form enctype="multipart/form-data" action="" method="post" id="ruangan_form" novalidate>
	{% csrf_token %}

	<div>
		<label for="id_nama">Nama:</label>
		<input type="text" name="nama" id="id_nama" required maxlength="250" />
	</div>

	<div>
		<label for="id_harga">Harga:</label>
		<input type="number" name="harga" value="0" id="id_harga" required />
	</div>

	<div>
		<label for="id_deskripsi">Deskripsi:</label>
		<textarea name="deskripsi" id="id_deskripsi" maxlength="1000"></textarea>
	</div>

	<div>
	<label for="id_tipe">Tipe:</label>
		<select name="tipe" id="id_tipe">
			<option value="R">Ruang</option>
			<option value="S" selected>Selasar</option>
			<option value="L">Lapangan</option>
		</select>
	</div>

	<div>
		<input type="submit" value="Save" class="default" name="_save" />
		<input type="submit" value="Save and add another" name="_addanother" />
		<input type="submit" value="Save and continue editing" name="_continue" />
	</div>

</form>

{% endblock %}

