{% extends "base.html" %}

{% block head %}
<title>Menambahkan Ruangan Baru</title>
{% endblock %}

{% block body %}
<h1>Tambah Ruangan</h1>

<form enctype="multipart/form-data" action="{% url 'ruangan:add' %}" method="post" id="ruangan_form" novalidate>
	
	{% csrf_token %}

	<div>
		<label for="id_nama">Nama:</label>
		<input type="text" name="nama" id="id_nama" required maxlength="250" />
	</div>

	<div>
		<label for="id_harga">Harga:</label>
		<input type="number" name="harga" value="0" id="id_harga" required />
	</div>

	<div>
		<label for="id_deskripsi">Deskripsi:</label>
		<textarea name="deskripsi" id="id_deskripsi" maxlength="1000"></textarea>
	</div>

	<div>
	<label for="id_tipe">Tipe:</label>
		<select name="tipe" id="id_tipe">
			<option value="Ruang">Ruang</option>
			<option value="Selasar" selected>Selasar</option>
			<option value="Lapangan">Lapangan</option>
		</select>
	</div>

	<ul>
    {% for error_item in error %}
        <li>{{ error_item }}</li>
    {% endfor %}

    {% for message_item in message %}
        <li>{{ message_item }}</li>
    {% endfor %}
    </ul>

	<div>
		<input type="submit" value="Save" />
	</div>

</form>
{% endblock %}

