{% extends "base.html" %}


{% block head %}
<title>Daftar ruangan</title>

<style>
   table, th , td {
      border: 1px solid grey;
      border-collapse: collapse;
      padding: 5px;
   }
   
   table tr:nth-child(odd) {
      background-color: #f2f2f2;
   }

   table tr:nth-child(even) {
      background-color: #ffffff;
   }
</style>
{% endblock %}


{% block body %}
<legend>Daftar Ruangan</legend>

<script>
    var ruanganList = angular.module('ruanganList', []);
    ruanganList.config(function($interpolateProvider) {
  		$interpolateProvider.startSymbol('{[{');
  		$interpolateProvider.endSymbol('}]}');
	});
	ruanganList.controller("ruanganListController", function($scope) {
		
		$scope.ruanganListData = [];
		{% for ruangan in all_ruangan %}
		$scope.ruanganListData = $scope.ruanganListData.concat({
			id: "{{ ruangan.id }}",
			nama:"{{ ruangan.nama }}",
			harga:"{{ ruangan.harga }}",
			deskripsi:"{{ ruangan.deskripsi }}",
			tipe:"{{ ruangan.tipe }}",
			edit_link: "{% url 'ruangan:edit' ruangan.id %}",
			delete_link: "{% url 'ruangan:delete' ruangan.id %}"
		});
		{% endfor %}

	});
</script>

<div ng-app="ruanganList" ng-controller="ruanganListController">

<div class="row" style="margin-bottom: 10px">
    <div class="col-lg-4">
        <a href="{% url 'ruangan:add' %}" style="text-decoration: none; color: black;"><button>ADD</button></a>
    </div>
    <div class="col-lg-6">
        <div class="form-group" style="text-align: right;">
            <label for="id_tipe" class="control-label col-lg-3" style="text-align: right">Filter Tipe</label>
            <div class="col-lg-3">
                <select  ng-model="filterTipe" id="id_tipe" class="form-control input-sm">
                    <option value="" selected>Semua</option>
                    <option value="Ruangan">Ruangan</option>
                    <option value="Lapangan">Lapangan</option>
                    <option value="Selasar">Selasar</option>
                </select>
            </div>
            <label for="id_nama" class="control-label col-lg-3" style="text-align: right">Filter Name</label>
            <div class="col-lg-3" style="text-align: right;padding: 0px;">
                <input type="text" name="nama" id="id_nama" class="form-control input-sm" ng-model = "filterNama"/>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-10">
        <table class="table table-striped table-hover ">
           <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Description</th>
              <th>Type</th>
              <th>Edit</th>
              <th>Delete</th>
           </tr>

           <tr ng-repeat = "ruanganData in ruanganListData | filter:{tipe:filterTipe} | filter:{nama:filterNama}">
              <td>{[{ ruanganData.nama }]}</td>
              <td>{[{ ruanganData.harga }]}</td>
              <td>{[{ ruanganData.deskripsi }]}</td>
              <td>{[{ ruanganData.tipe }]}</td>
              <td><a href="{[{ ruanganData.edit_link }]}">EDIT</a></td>
              <td><a href="{[{ ruanganData.delete_link }]}">DELETE</a></td>
           </tr>
        </table>
    </div>
</div>

<ul>
{% for error_item in error %}
<li>{{ error_item }}</li>
{% endfor %}

{% for message_item in message %}
<li>{{ message_item }}</li>
{% endfor %}
</ul>

</div>

{% endblock %}

