{% extends "base.html" %}

{% block head %}
<title>Menambahkan Peminjam Baru</title>
{% endblock %}

{% block body %}
<h1>Menambahkan Organisasi Peminjam Baru</h1>

<form action="{% url 'peminjam:add' %}" method="post">
    {% csrf_token %}

    Nama: <br />
    <input type="text" name="nama" value="{{ nama }}" autofocus required>
    <br /><br />

    Deskripsi: <br />
    <textarea name="deskripsi" rows="10" cols="30">{{ deskripsi }}</textarea>
    <br />

    <ul>
    {% for error_item in error %}
        <li>{{ error_item }}</li>
    {% endfor %}

    {% for message_item in message %}
        <li>{{ message_item }}</li>
    {% endfor %}
    </ul>

    <input type="submit" value="Save">
</form>
{% endblock %}
