{% extends "base.html" %}


{% block head %}
<title>Daftar Peminjam</title>

{% endblock %}


{% block body %}
<script>
    var peminjamList = angular.module('peminjamList', []);
    peminjamList.config(function($interpolateProvider) {
  		$interpolateProvider.startSymbol('{[{');
  		$interpolateProvider.endSymbol('}]}');
	});
	peminjamList.controller("peminjamListController", function($scope, $location) {
		
		$scope.peminjamListData = [];
		{% for peminjam in all_peminjam %}
		$scope.peminjamListData = $scope.peminjamListData.concat({
			id: "{{ peminjam.id }}",
			nama:"{{ peminjam.nama }}",
			deskripsi:"{{ peminjam.deskripsi }}",
			edit_link: "{% url 'peminjam:edit' peminjam.id %}"
		});
		{% endfor %}

		$scope.go = function ( path ) {
            location.href = path;
        };

	});
</script>

<div ng-app="peminjamList" ng-controller="peminjamListController">
    <div class="panel container-fluid">
        <legend>Daftar Peminjam</legend>
        <div class="row" style="margin-bottom: 10px">
            <div class="col-lg-6">
                <a href="{% url 'peminjam:add' %}" style="text-decoration: none; color: black;"><button>ADD</button></a>
            </div>
            <div class="col-lg-4">
                <div class="form-group" style="text-align: right;">
                    <label for="id_nama" class="control-label col-lg-4" style="text-align: right">Filter Name</label>
                    <div class="col-lg-8" style="text-align: right;padding: 0px;">
                        <input type="text" name="nama" id="id_nama" class="form-control input-sm" ng-model = "filterNama"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat = "peminjamData in peminjamListData | filter:{id:filterId} | filter:{nama:filterNama}" ng-click="go(peminjamData.edit_link)">
                               <td>{[{ peminjamData.id }]}</td>
                               <td>{[{ peminjamData.nama }]}</td>
                               <td>{[{ peminjamData.deskripsi }]}</td>
                           </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


<ul>
    {% for error_item in error %}
        <li>{{ error_item }}</li>
    {% endfor %}

    {% for message_item in message %}
        <li>{{ message_item }}</li>
    {% endfor %}
</ul>

</div>

{% endblock %}

