{% extends "base.html" %}


{% block head %}
<title>Daftar Peminjam</title>

{% endblock %}


{% block body %}
<legend>Daftar Peminjam</legend>

<script>
    var peminjamList = angular.module('peminjamList', []);
    peminjamList.config(function($interpolateProvider) {
  		$interpolateProvider.startSymbol('{[{');
  		$interpolateProvider.endSymbol('}]}');
	});
	peminjamList.controller("peminjamListController", function($scope) {
		
		$scope.peminjamListData = [];
		{% for peminjam in all_peminjam %}
		$scope.peminjamListData = $scope.peminjamListData.concat({
			id: "{{ peminjam.id }}",
			nama:"{{ peminjam.nama }}",
			deskripsi:"{{ peminjam.deskripsi }}",
			edit_link: "{% url 'peminjam:edit' peminjam.id %}",
			delete_link: "{% url 'peminjam:delete' peminjam.id %}"
		});
		{% endfor %}

	});
</script>

<div ng-app="peminjamList" ng-controller="peminjamListController">

    <div class="row" style="margin-bottom: 10px">
        <div class="col-lg-6">
            <button><a href="{% url 'peminjam:add' %}" style="text-decoration: none; color: black;">ADD</a></button>
        </div>
        <div class="col-lg-4">
            <div class="form-group" style="text-align: right;">
                <label for="id_nama" class="control-label col-lg-4" style="text-align: right">Filter Name</label>
                <div class="col-lg-8" style="text-align: right;padding: 0px;">
                    <input type="text" name="nama" id="id_nama" class="form-control input-sm" ng-model = "filterNama"/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                   <tr ng-repeat = "peminjamData in peminjamListData | filter:{id:filterId} | filter:{nama:filterNama}">
                       <td>{[{ peminjamData.id }]}</td>
                       <td>{[{ peminjamData.nama }]}</td>
                       <td>{[{ peminjamData.deskripsi }]}</td>
                       <td><a href="{[{ peminjamData.edit_link }]}">EDIT</a></td>
                       <td><a href="{[{ peminjamData.delete_link }]}">DELETE</a></td>
                   </tr>
                </tbody>
            </table>
        </div>
    </div>


<ul>
    {% for error_item in error %}
        <li>{{ error_item }}</li>
    {% endfor %}

    {% for message_item in message %}
        <li>{{ message_item }}</li>
    {% endfor %}
</ul>

</div>

{% endblock %}

