{% extends "base.html" %}


{% block head %}
<title>Mengedit Peminjaman Baru</title>
{% endblock %}


{% block body %}
<script>
    var peminjamList = angular.module('peminjamList', []);
    peminjamList.config(function($interpolateProvider) {
  		$interpolateProvider.startSymbol('{[{');
  		$interpolateProvider.endSymbol('}]}');
	});
	peminjamList.controller("peminjamListController", function($scope) {
		
		$scope.peminjamListData = [];
		{% for peminjam in all_peminjam %}
		$scope.peminjamListData = $scope.peminjamListData.concat({
			id: "{{ peminjam.id }}",
			nama:"{{ peminjam.nama }}",
			deskripsi:"{{ peminjam.deskripsi }}",
			edit_link: "{% url 'peminjam:edit' peminjam.id %}",
			delete_link: "{% url 'peminjam:delete' peminjam.id %}"
		});
		{% endfor %}

		$scope.ruanganListData = [];
		{% for ruangan in all_ruangan %}
		$scope.ruanganListData = $scope.ruanganListData.concat({
			id: "{{ ruangan.id }}",
			nama:"{{ ruangan.nama }}",
			harga:"{{ ruangan.harga }}",
			deskripsi:"{{ ruangan.deskripsi }}",
			tipe:"{{ ruangan.tipe }}",
			edit_link: "{% url 'ruangan:edit' ruangan.id %}",
			delete_link: "{% url 'ruangan:delete' ruangan.id %}"
		});
		{% endfor %}

	});
</script>

<div class="row">
    <div class="col-lg-10">
        <form enctype="multipart/form-data" action="{% url 'peminjaman:edit' id_peminjaman %}" method="post" id="peminjaman_form" novalidate ng-app="peminjamList" ng-controller="peminjamListController" class="form-horizontal">
            {% csrf_token %}
            <fieldset>
                <legend>Formulir Penambahan Peminjaman</legend>
                <div class="form-group">
                    <label for="id_peminjam" class="col-md-2 control-label">Peminjam</label>
                    <div class="col-md-9">
                        <select name="peminjam" required id="id_peminjam" ng-model="peminjamID" class="form-control">
                            <option value="" selected>---------</option>
                            <option value="{[{ peminjamData.id }]}" ng-repeat = "peminjamData in peminjamListData">{[{ peminjamData.nama }]}</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <a id="change_id_peminjam"
                        href="/peminjam/edit/{[{peminjamID}]}"
                        title="Change selected peminjam"><img src="/static/admin/img/icon-changelink.svg" alt="Change"/></a>
                        <a id="add_id_peminjam"
                        href="{% url 'peminjam:add' %}"
                        title="Add another peminjam"><img src="/static/admin/img/icon-addlink.svg" alt="Add"/></a>
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_ruangan" class="col-lg-2 control-label">Ruangan</label>
                    <div class="col-lg-9">
                        <select name="ruangan" required id="id_ruangan" ng-model="ruanganID" class="form-control">
                            <option value="" selected>---------</option>
                            <option value="{[{ ruanganData.id }]}" ng-repeat = "ruanganData in ruanganListData">{[{ ruanganData.nama }]}</option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <a id="change_id_ruangan"
                        href="/ruangan/edit/{[{ruanganID}]}"
                        title="Change selected ruangan"><img src="/static/admin/img/icon-changelink.svg" alt="Change"/></a>
                        <a id="add_id_ruangan"
                        href="{% url 'ruangan:add' %}"
                        title="Add another ruangan"><img src="/static/admin/img/icon-addlink.svg" alt="Add"/></a>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Waktu awal</label>
                    <div class="col-md-9">
                        <div class="form-group">
                            <label for="id_waktu_awal_0" class="col-md-1 control-label">Date</label>
                            <div class="col-md-11">
                                <input type="date" name="waktu_awal_0" id="id_waktu_awal_0" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_waktu_awal_1" class="col-md-1 control-label">Time</label>
                            <div class="col-md-11">
                                <input type="time" name="waktu_awal_1" id="id_waktu_awal_1" class="form-control" required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Waktu awal</label>
                    <div class="col-md-9">
                        <div class="form-group">
                            <label for="id_waktu_akhir_0" class="col-md-1 control-label">Date</label>
                            <div class="col-md-11">
                                <input type="date" name="waktu_akhir_0" id="id_waktu_akhir_0" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_waktu_akhir_1" class="col-md-1 control-label">Time</label>
                            <div class="col-md-11">
                                <input type="time" name="waktu_akhir_1" id="id_waktu_akhir_1" class="form-control" required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_deskripsi" class="col-lg-2 control-label">Deskripsi</label>
                    <div class="col-lg-9">
                        <textarea name="deskripsi" id="id_deskripsi" maxlength="1000" class="form-control"></textarea>
                    </div>
                </div>

                <ul>
                {% for error_item in error %}
                <li>{{ error_item }}</li>
                {% endfor %}

                {% for message_item in message %}
                <li>{{ message_item }}</li>
                {% endfor %}
                </ul>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <!--<input type="submit" value="Save" class="default" name="_save" />-->
                        <!--<input type="submit" value="WAWA" >-->
                        <input type="submit" value="Save" class="btn btn-primary" >
                        <!--<input type="submit" value="Save and add another" name="_addanother" />-->
                        <!--<input type="submit" value="Save and continue editing" name="_continue" />-->
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
