{% extends "base.html" %}


{% block head %}
<title>Daftar peminjaman</title>

<style>
	table th:hover {
		cursor: pointer;
	}

	.arrow-down:after,.arrow-up:after {
		content: ' ';
		position: relative;
		left: 2px;
		border: 8px solid transparent;
	}

	.arrow-down:after {
		top: 10px;
		border-top-color: black;
	}

	.arrow-up:after {
		bottom: 15px;
		border-bottom-color: black;
	}

	.arrow-down,.arrow-up {
		padding-right: 0px;
	}

</style>

{% endblock %}


{% block body %}

<script>

var peminjamanList = angular.module('peminjamanList', []);
peminjamanList.config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('{[{');
    $interpolateProvider.endSymbol('}]}');
});

peminjamanList.controller("peminjamanListController", function($scope, $http, $filter) {

    $scope.total = 0;

    $scope.peminjamListData = [];
    {% for peminjam in all_peminjam %}
    $scope.peminjamListData = $scope.peminjamListData.concat({
      id: {{ peminjam.id }},
      string: "{{ peminjam }}",
      nama: "{{ peminjam.nama }}",
    });
    {% endfor %}

    $scope.ruanganListData = [];
    {% for ruangan in all_ruangan %}
    $scope.ruanganListData = $scope.ruanganListData.concat({
      id: {{ ruangan.id }},
      string: "{{ ruangan }}",
      nama:"{{ ruangan.nama }}",
    });
    {% endfor %}

    $scope.waktu_bayarListData = [];
    $scope.waktu_bayarListData = $scope.waktu_bayarListData.concat({
        string: "Belum Lunas",
    });

    $scope.go = function ( path ) {
        location.href = path;
    };

    $scope.filterTimeStart = new Date();
    $scope.filterTimeStart.setMonth(0);
    $scope.filterTimeStart.setDate(1);

    $scope.filterTimeEnd = new Date();
    $scope.filterTimeEnd.setMonth(0);
    $scope.filterTimeEnd.setDate(1);
    $scope.filterTimeEnd.setFullYear(1+$scope.filterTimeStart.getFullYear());

    $scope.peminjamanListData = [];

    $scope.total = 0;

    $scope.fetchPeminjaman = function(year) {

        $scope.peminjamanListData = [];
      
        var url = "{% url 'peminjaman:jsonbase' %}" + year;

        $http.get(url).success(function(data, status, headers, config) {
            var temp = data.results;
            angular.forEach(temp, function(value, key){

                 var start_date = new Date(value.waktu_awal);
                 var end_date = new Date(value.waktu_akhir);
                 if(angular.isUndefined(value.waktu_bayar) || value.waktu_bayar === null) {
                    value.waktu_bayar = "Belum Lunas"
                 }
                 var peminjam_selected = "";
                 angular.forEach($scope.peminjamListData, function(peminjam, key){
                    if(peminjam.id == value.peminjam_id) {
                        peminjam_selected = peminjam.string;
                        return;
                    }
                 });
                 var ruangan_selected = "";
                 angular.forEach($scope.ruanganListData, function(ruangan, key){
                    if(ruangan.id == value.ruangan_id) {
                        ruangan_selected = ruangan.string;
                        return;
                    }
                 });

                 $scope.peminjamanListData = $scope.peminjamanListData.concat({
                    id: value.id,

                    no_laporan: value.no_laporan,
                    peminjam:   peminjam_selected,
                    ruangan:    ruangan_selected,

                    waktu_awal:             start_date,
                    unix_timestamp_awal:    start_date.getTime()/1000,
                    waktu_akhir:            end_date,
                    unix_timestamp_akhir:   end_date.getTime()/1000,

                    jumlah_tagihan: value.jumlah_tagihan,
                    waktu_bayar:    value.waktu_bayar,
                    deskripsi:      value.deskripsi,

                    edit_link:      "{% url 'peminjaman:editbase' %}" + value.id,
                    delete_link:    "{% url 'peminjaman:deletebase' %}" + value.id
                });
            });

        }).error(function(data, status, headers, config) {
            $scope.peminjamanListData = "ERROR";

        });
    };

    $scope.fetchPeminjaman(new Date().getFullYear());

    $scope.togglePembayaran = function ( peminjaman ) {
        var req = {
            method: 'POST',
            url: "{% url 'peminjaman:bayarbase' %}" + peminjaman.id + "/"
        }

        $http(req).success(function(data, status, headers, config) {
            peminjaman.waktu_bayar = data.result;
        }).error(function(data, status, headers, config) {
        });
    };

	/* ORIGINAL CODE
    $scope.order = 'no_laporan';
    $scope.sort = function ( coll ) {
        if($scope.order == coll) {
            $scope.order = "-" + coll;
        } else {
            $scope.order = coll;
        }
    };
	*/

	/* EXPERIMENTAL CODE (Add arrow-down and arrow-up) */

	// column state
	$scope.column = 'no_laporan';

	// sort ordering (Ascending or Descending). True for Descending
	$scope.reverse = false;

	$scope.sort = function ( coll ) {

		$scope.column = coll;

		if ($scope.reverse) {
			$scope.reverse = false;
			$scope.reverseclass = 'arrow-up';
		} else {
			$scope.reverse = true;
			$scope.reverseclass = 'arrow-down';
		}

	};

	// change the arrow direction
	$scope.sortClass = function(col) {
		if ($scope.column == col) {
			if ($scope.reverse) {
				return 'arrow-down';
			} else {
				return 'arrow-up';
			}
		} else {
			return '';
		}
	};

})
.filter('getTotal', function(){
  return function(data, key) {
    if (typeof(data) === 'isUndefined' || typeof(key) === 'isUndefined') {
      return 0;
    }
    var sum = 0;
    for (var i = data.length - 1; i >= 0; i--) {
      sum += parseInt(data[i][key]);
    }

    return sum;
  };
});

angular.element(document).ready(function() {
    angular.bootstrap(document.getElementById("AppPeminjamanList"), ["peminjamanList"])
});
$(document).ready(function () {
    $(".nav li").removeClass("active");
    $('#peminjaman').addClass('active');
});
</script>

<div id="AppPeminjamanList" ng-controller="peminjamanListController">
    <ul class="breadcrumb" style="margin-bottom: 10px;">
        <li class="active">Peminjaman</li>
    </ul>
    <div class="panel container-fluid">
        <a href="{% url 'peminjaman:add' %}" style="text-decoration: none; color: black;"><button>ADD</button></a>
        <div class="row" style="margin-bottom: 10px;margin-top: 10px">
            <div class="col-lg-5" style="margin-bottom: 10px;width: 36.66666667%">
              <div class="form-group">
                  <label class="col-lg-1" for="id_time_start" style="text-align: left;padding-left: 0px">From</label>
                  <div class="col-lg-4" style="padding: 0px">
                      <input type="date" ng-model="filterTimeStart" id="id_time_start" class="form-control input-sm"/>
                  </div>

                  <label class="control-label col-lg-1" for="id_time_end" style="text-align: center">to</label>
                  <div class="col-lg-4" style="padding: 0px">
                      <input type="date" ng-model="filterTimeEnd" id="id_time_end" class="form-control input-sm"/>
                  </div>
              </div>
            </div>
            <div class="col-lg-7" style="">
                <div class="form-group">
                    <label class="control-label col-lg-3" for="id_filter_peminjam">Filter Peminjam</label>
                    <div class="col-lg-3" style="padding: 0px">
                        <select ng-model="filterPeminjam" id="id_filter_peminjam" class="form-control input-sm">
                            <option value="" selected>Semua</option>
                            <option value="{[{ peminjamData.string }]}" ng-repeat = "peminjamData in peminjamListData">{[{ peminjamData.nama }]}</option>
                        </select>
                    </div>

                    <label class="control-label col-lg-3" for="id_filter_ruangan">Filter Ruangan</label>
                    <div class="col-lg-3" style="padding: 0px">
                        <select ng-model="filterRuangan" id="id_filter_ruangan" class="form-control input-sm">
                            <option value="" selected>Semua</option>
                            <option value="{[{ ruanganData.string }]}" ng-repeat = "ruanganData in ruanganListData">{[{ ruanganData.nama }]}</option>
                        </select>
                    </div>

				            <label class="control-label col-lg-3" for="id_filter_bayaran">Filter Status Bayar</label>
                    <div class="col-lg-3" style="padding: 0px">
                        <select ng-model="filterBayar" id="id_filter_bayaran" class="form-control input-sm">
                            <option value="" selected>Semua</option>
                            <option value="{[{ bayarData.string }]}" ng-repeat = "bayarData in waktu_bayarListData">{[{ bayarData.string }]}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
               <tr>
                   <th ng-click="sort('no_laporan')" ng-class="sortClass('no_laporan')">No Laporan</th>
                   <th ng-click="sort('peminjam')" ng-class="sortClass('peminjam')">Peminjam</th>
                   <th ng-click="sort('ruangan')" ng-class="sortClass('ruangan')">Ruangan</th>
                   <th ng-click="sort('waktu_awal')" ng-class="sortClass('waktu_awal')">Waktu Awal</th>
                   <th ng-click="sort('waktu_akhir')" ng-class="sortClass('waktu_akhir')">Waktu Akhir</th>
                   <th ng-click="sort('jumlah_tagihan')" ng-class="sortClass('jumlah_tagihan')">Tagihan</th>
                   <th ng-click="sort('waktu_bayar')" ng-class="sortClass('waktu_bayar')">Waktu Bayar</th>
                   <th ng-click="sort('deskripsi')" ng-class="sortClass('deskripsi')">Description</th>
               </tr>

               <tr ng-repeat = "peminjamanData in peminjamanListData | orderBy : column : reverse | filter:{peminjam:filterPeminjam}
               | filter:{ruangan:filterRuangan} | filter: inRange(toTimestamp(filterTimeStart),toTimestamp(filterTimeEnd)) | filter:{waktu_bayar:filterBayar}" >

                <td ng-click="go(peminjamanData.edit_link)">{[{ peminjamanData.no_laporan }]}</td>
                <td>{[{ peminjamanData.peminjam }]}</td>
                <td>{[{ peminjamanData.ruangan }]}</td>

                <td>{[{ peminjamanData.waktu_awal | date:'dd MMM yyyy; HH:mm' : 'UTC' }]}</td>
                <td>{[{ peminjamanData.waktu_akhir | date:'dd MMM yyyy; HH:mm' : 'UTC' }]}</td>

                <td>{[{ peminjamanData.jumlah_tagihan }]}</td>
                <td ng-click="togglePembayaran(peminjamanData)">{[{ peminjamanData.waktu_bayar | date:'dd MMM yyyy' }]}</td>
                <td>{[{ peminjamanData.deskripsi }]}</td>

               </tr>
            </table>
            <h6 id="rekap">Nilai: {[{ peminjamanListData | orderBy : column : reverse | filter:{peminjam:filterPeminjam}
               | filter:{ruangan:filterRuangan} | filter: inRange(toTimestamp(filterTimeStart),toTimestamp(filterTimeEnd)) | filter:{waktu_bayar:filterBayar} | getTotal: 'jumlah_tagihan'}]}</h6>
            
        </div>
    </div>

<ul>
{% for error_item in error %}
<li>{{ error_item }}</li>
{% endfor %}

{% for message_item in message %}
<li>{{ message_item }}</li>
{% endfor %}
</ul>

</div>

{% endblock %}
