{% extends "base.html" %}


{% block head %}
<title>Daftar peminjaman</title>
{% endblock %}


{% block body %}

<script>
  var peminjamanList = angular.module('peminjamanList', []);
  peminjamanList.config(function($interpolateProvider) {
  		$interpolateProvider.startSymbol('{[{');
  		$interpolateProvider.endSymbol('}]}');
	});

	peminjamanList.controller("peminjamanListController", function($scope, $http, $filter) {
		
        $scope.toTimestamp = function(date) {
          return new Date(date).getTime()/1000;
        };

        $scope.inRange = function(start,end){
          return function(item){
            return item.unix_timestamp_awal > start && item.unix_timestamp_akhir < end;
          }
        }

        $scope.filterTimeStart = new Date();
        $scope.filterTimeStart.setMonth(0);
        $scope.filterTimeStart.setDate(1);

        $scope.filterTimeEnd = new Date();
        $scope.filterTimeEnd.setMonth(0);
        $scope.filterTimeEnd.setDate(1);
        $scope.filterTimeEnd.setFullYear(1+$scope.filterTimeStart.getFullYear());

        $scope.peminjamanListData = [];

        $scope.fetchPeminjaman = function(year) {

            $scope.peminjamanListData = [];
            var url = "{% url 'peminjaman:jsonbase' %}" + year;

            $http.get(url).success(function(data, status, headers, config) {
                var temp = data.results;
                angular.forEach(temp, function(value, key){

                     var start_date = new Date(value.waktu_awal);
                     var end_date = new Date(value.waktu_akhir);
                     if(angular.isUndefined(value.waktu_bayar) || value.waktu_bayar === null) {
                        value.waktu_bayar = "Belum Lunas"
                     }

                     $scope.peminjamanListData = $scope.peminjamanListData.concat({
                        id: value.id,

                        no_laporan: value.no_laporan,
                        peminjam:   value.peminjam_id,
                        ruangan:    value.ruangan_id,

                        waktu_awal:             start_date,
                        unix_timestamp_awal:    start_date.getTime()/1000,
                        waktu_akhir:            end_date,
                        unix_timestamp_akhir:   end_date.getTime()/1000,

                        jumlah_tagihan: value.jumlah_tagihan,
                        waktu_bayar:    value.waktu_bayar,
                        deskripsi:      value.deskripsi,

                        edit_link:      "{% url 'peminjaman:editbase' %}" + value.id,
                        delete_link:    "{% url 'peminjaman:deletebase' %}" + value.id
                    });

                });
            }).error(function(data, status, headers, config) {
                $scope.peminjamanListData = "ERROR";

            });
        };

        $scope.fetchPeminjaman(new Date().getFullYear());

        $scope.peminjamListData = [];
        {% for peminjam in all_peminjam %}
        $scope.peminjamListData = $scope.peminjamListData.concat({
          string: "{{ peminjam }}",
          nama:"{{ peminjam.nama }}",
        });
        {% endfor %}

        $scope.ruanganListData = [];
        {% for ruangan in all_ruangan %}
        $scope.ruanganListData = $scope.ruanganListData.concat({
          string: "{{ ruangan }}",
          nama:"{{ ruangan.nama }}",
        });
        {% endfor %}

        $scope.go = function ( path ) {
            location.href = path;
        };

        $scope.togglePembayaran = function ( peminjaman ) {
            url = "{% url 'peminjaman:bayarbase' %}" + peminjaman.id
            $http.get(url).success(function(data, status, headers, config) {
                peminjaman.waktu_bayar = data.result;
            }).error(function(data, status, headers, config) {
                $scope.hasil = "ERROR";
            });
        };

	});

  angular.element(document).ready(function() {
    angular.bootstrap(document.getElementById("AppPeminjamanList"), ["peminjamanList"])
  });
</script>

<div id="AppPeminjamanList" ng-controller="peminjamanListController">
    <div class="panel container-fluid">
        <legend>Daftar peminjaman</legend>
        <a href="{% url 'peminjaman:add' %}" style="text-decoration: none; color: black;"><button>ADD</button></a>
        <div class="row">
            <div class="col-lg-5" style="margin-bottom: 10px;width: 36.66666667%">
              <div class="form-group">
                  <label class="col-lg-1" for="id_time_start" style="text-align: left;padding-left: 0px">From</label>
                  <div class="col-lg-4" style="padding: 0px">
                      <input type="date" ng-model="filterTimeStart" id="id_time_start" class="form-control input-sm"/>
                  </div>

                  <label class="control-label col-lg-1" for="id_time_end" style="text-align: center">to</label>
                  <div class="col-lg-4" style="padding: 0px">
                      <input type="date" ng-model="filterTimeEnd" id="id_time_end" class="form-control input-sm"/>
                  </div>
              </div>
            </div>
            <div class="col-lg-5" style="width: 46.66666667%">
                <div class="form-group">
                    <label class="control-label col-lg-3" for="id_filter_peminjam">Filter Peminjam</label>
                    <div class="col-lg-3" style="padding: 0px">
                        <select ng-model="filterPeminjam" id="id_filter_peminjam" class="form-control input-sm">
                            <option value="" selected>Semua</option>
                            <option value="{[{ peminjamData.string }]}" ng-repeat = "peminjamData in peminjamListData">{[{ peminjamData.nama }]}</option>
                        </select>
                    </div>

                    <label class="control-label col-lg-3" for="id_filter_ruangan">Filter Ruangan</label>
                    <div class="col-lg-3" style="padding: 0px">
                        <select ng-model="filterRuangan" id="id_filter_ruangan" class="form-control input-sm">
                            <option value="" selected>Semua</option>
                            <option value="{[{ ruanganData.string }]}" ng-repeat = "ruanganData in ruanganListData">{[{ ruanganData.nama }]}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
               <tr>
                   <th>No Laporan</th>
                   <th>Peminjam</th>
                   <th>Ruangan</th>
                   <th>Waktu Awal</th>
                   <th>Waktu Akhir</th>
                   <th>Tagihan</th>
                   <th>Waktu Bayar</th>
                   <th>Description</th>
               </tr>

               <tr ng-repeat = "peminjamanData in peminjamanListData | filter:{peminjam:filterPeminjam} | filter:{ruangan:filterRuangan} | filter: inRange(toTimestamp(filterTimeStart),toTimestamp(filterTimeEnd))">

                   <td ng-click="go(peminjamanData.edit_link)">{[{ peminjamanData.no_laporan }]}</td>
                   <td>{[{ peminjamanData.peminjam }]}</td>
                   <td>{[{ peminjamanData.ruangan }]}</td>

                   <td>{[{ peminjamanData.waktu_awal | date:'dd MMM yyyy; HH:mm' }]}</td>
                   <td>{[{ peminjamanData.waktu_akhir | date:'dd MMM yyyy; HH:mm' }]}</td>

                   <td>{[{ peminjamanData.jumlah_tagihan }]}</td>
                   <td ng-click="togglePembayaran(peminjamanData)">{[{ peminjamanData.waktu_bayar | date:'dd MMM yyyy' }]}</td>
                   <td>{[{ peminjamanData.deskripsi }]}</td>

               </tr>
            </table>
        </div>
    </div>

<ul>
{% for error_item in error %}
<li>{{ error_item }}</li>
{% endfor %}

{% for message_item in message %}
<li>{{ message_item }}</li>
{% endfor %}
</ul>

</div>

{% endblock %}