<script>
    angular.module('calendarDemoApp', ['ui.rCalendar']);

    angular.module('calendarDemoApp').config(function($interpolateProvider) {
  		$interpolateProvider.startSymbol('{[{');
  		$interpolateProvider.endSymbol('}]}');
	}).controller('CalendarDemoCtrl',['$scope','$http','$timeout', function ($scope, $http, $timeout) {
        'use strict';
        $scope.changeMode = function (mode) {
            $scope.mode = mode;
        };

        $scope.today = function () {
            $scope.currentDate = new Date();
        };

        $scope.isToday = function () {
            var today = new Date(),
                currentCalendarDate = new Date($scope.currentDate);

            today.setHours(0, 0, 0, 0);
            currentCalendarDate.setHours(0, 0, 0, 0);
            return today.getTime() === currentCalendarDate.getTime();
        };

        $scope.onEventSelected = function (event) {
            $scope.event = event;
        };

        $scope.onTimeSelected = function (selectedTime) {
            console.log('Selected time: ' + selectedTime);
        };

		/* Global Variables */
		$scope.peminjamanList_GLOBAL = null;
		
        /* Fetching */
        $scope.peminjamEdit = "{% url 'peminjam:editbase' %}"
		$scope.peminjamDelete = "{% url 'peminjam:deletebase' %}"
		$scope.peminjamJson = "{% url 'peminjam:json' %}"
		$scope.peminjamanEdit = "{% url 'peminjaman:editbase' %}"
		$scope.peminjamanDelete = "{% url 'peminjaman:deletebase' %}"
		$scope.peminjamanJson = "{% url 'peminjaman:jsonbase' %}"
		$scope.ruanganEdit = "{% url 'ruangan:editbase' %}"
		$scope.ruanganDelete = "{% url 'ruangan:deletebase' %}"
		$scope.ruanganJson = "{% url 'ruangan:json' %}"

		$http.get($scope.peminjamJson).success(function(data, status, headers, config) {
	      	$scope.peminjamList = data.results;
	    }).error(function(data, status, headers, config) {
	      	$scope.peminjamList = "ERROR";
	    });

	    $http.get($scope.ruanganJson).success(function(data, status, headers, config) {
	      	$scope.ruanganList = data.results;
	    }).error(function(data, status, headers, config) {
	      	$scope.ruanganList = "ERROR";
	    });

		// get the name of borrower
	    function peminjamTampil(e) {
            for (var i in $scope.peminjamList) {
                if (e == $scope.peminjamList[i].id) {
                    return $scope.peminjamList[i].nama;
                }
            }
            return ;
        };
		
		// get the name of room
		function ruanganTampil(e) {
            for (var i in $scope.ruanganList) {
                if (e == $scope.ruanganList[i].id) {
                    return $scope.ruanganList[i].nama;
                }
            }
            return;
        };

		// get all borrowed room in particular year
	    function fetchPeminjaman(year){
            var events = [];
            $http.get($scope.peminjamanJson + year).success(function(data, status, headers, config) {
				// EXPERIMENT CODE
				$scope.peminjamanList_GLOBAL = data.results;
				// END OF EXPERIMENT CODE
            }).error(function(data, status, headers, config) {
                $scope.peminjamanList = "ERROR";
            });
            return events;
        };

		/* Filtering */		
		$scope.filterRuangan = "";
		var date = new Date();
		var currentYear = date.getFullYear();
		fetchPeminjaman(currentYear);
		$scope.filterEvents = function() {
		
			var events = [];
			
			for (var indeksPeminjaman in $scope.peminjamanList_GLOBAL) {
				
				var filterByRuangan = ruanganTampil($scope.peminjamanList_GLOBAL[indeksPeminjaman].ruangan_id);
				//var filterByPeminjam = peminjamTampil($scope.peminjamanList_GLOBAL[indeksPeminjaman].peminjam_id);
                				
				var waktuAwal = new Date($scope.peminjamanList_GLOBAL[indeksPeminjaman].waktu_awal);
				var waktuAkhir = new Date($scope.peminjamanList_GLOBAL[indeksPeminjaman].waktu_akhir);
				
				if (!$scope.filterRuangan) {
				
					events.push({
						title: filterByRuangan,
						startTime: waktuAwal,
						endTime: waktuAkhir,
						allDay: false,
						borrower: peminjamTampil($scope.peminjamanList_GLOBAL[indeksPeminjaman].peminjam_id),
						description: $scope.peminjamanList_GLOBAL[indeksPeminjaman].deskripsi,
					});

				} else {
					if (filterByRuangan == $scope.filterRuangan) {
					
						events.push({
							title: filterByRuangan,
							startTime: waktuAwal,
							endTime: waktuAkhir,
							allDay: false,
							borrower: peminjamTampil($scope.peminjamanList_GLOBAL[indeksPeminjaman].peminjam_id),
							description: $scope.peminjamanList_GLOBAL[indeksPeminjaman].deskripsi,
						});
				
					}
				}
			}

			$scope.eventSource = events;
			$scope.$broadcast('eventSourceChanged',$scope.eventSource);
		}
		$timeout(function() {
            angular.element(document.getElementById("calendarFilter")).triggerHandler('click');
        },200);
    }]);
    angular.element(document).ready(function() {
    	angular.bootstrap(document.getElementById("AppKalender"), ["calendarDemoApp"])
  	});
</script>

<div class="content">
    <div class="panel container-fluid">
        <div id="AppKalender" ng-controller="CalendarDemoCtrl" ng-init="filterEvents()">
            <div class="btn-toolbar" style="margin-bottom: 10px">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-disabled="isToday()"
                            ng-click="today()">
                        Today
                    </button>
                </div>
            </div>
			
			<!-- FILTERER -->
			<div class="btn-toolbar" style="margin-bottom: 10px">
            
				<div class="btn-group">
					<input type="text" id="txtFilterRuangan" placeholder="Filter by ruangan" ng-model="filterRuangan" />
                    
					<!--
					<input type="text" id="txtFilterPeminjam" placeholder="Filter by peminjam" ng-model="filterPeminjam" />
                    
					<input type="text" id="txtFilterRuangan" placeholder="Filter by ruangan" ng-model="TEST" />
                    -->
					
					<button type="button" class="btn btn-default" ng-click="filterEvents()" id="calendarFilter">
                        Filter
                    </button>
                </div>
            	
			</div>
			<!-- END OF FILTERER -->
			
            <div class="well well-sm">
                <calendar ng-model="currentDate" calendar-mode="mode" event-source="eventSource"
                      range-changed="reloadSource(startTime, endTime)"
                      event-selected="onEventSelected(event)"
                      time-selected="onTimeSelected(selectedTime)"></calendar>
            </div>
        </div>
    </div>
</div>