<script>
    $(document).ready(function () {
        $(".nav li").removeClass("active");
        $('#kalenderPeminjaman').addClass('active');
    });
    angular.module('calendarDemoApp', ['ui.rCalendar']);

    angular.module('calendarDemoApp').config(function($interpolateProvider) {
  		$interpolateProvider.startSymbol('{[{');
  		$interpolateProvider.endSymbol('}]}');
	}).controller('CalendarDemoCtrl',['$scope','$http','$timeout', function ($scope, $http, $timeout) {
        'use strict';
        $scope.changeMode = function (mode) {
            $scope.mode = mode;
        };

        $scope.today = function () {
            $scope.currentDate = new Date();
        };

        $scope.isToday = function () {
            var today = new Date(),
                currentCalendarDate = new Date($scope.currentDate);

            today.setHours(0, 0, 0, 0);
            currentCalendarDate.setHours(0, 0, 0, 0);
            return today.getTime() === currentCalendarDate.getTime();
        };

        $scope.onEventSelected = function (event) {
            $scope.event = event;
        };

        $scope.onTimeSelected = function (selectedTime) {
            console.log('Selected time: ' + selectedTime);
        };

		/* Global Variables */
		$scope.peminjamanList_GLOBAL = null;
		
        /* Fetching */
        $scope.peminjamEdit = "{% url 'peminjam:editbase' %}"
		$scope.peminjamDelete = "{% url 'peminjam:deletebase' %}"
		$scope.peminjamJson = "{% url 'peminjam:json' %}"
		$scope.peminjamanEdit = "{% url 'peminjaman:editbase' %}"
		$scope.peminjamanDelete = "{% url 'peminjaman:deletebase' %}"
		$scope.peminjamanJson = "{% url 'peminjaman:jsonbase' %}"
		$scope.ruanganEdit = "{% url 'ruangan:editbase' %}"
		$scope.ruanganDelete = "{% url 'ruangan:deletebase' %}"
		$scope.ruanganJson = "{% url 'ruangan:json' %}"

		$http.get($scope.peminjamJson).success(function(data, status, headers, config) {
	      	$scope.peminjamList = data.results;
	    }).error(function(data, status, headers, config) {
	      	$scope.peminjamList = "ERROR";
	    });

	    $http.get($scope.ruanganJson).success(function(data, status, headers, config) {
	      	$scope.ruanganList = data.results;
	    }).error(function(data, status, headers, config) {
	      	$scope.ruanganList = "ERROR";
	    });

		// get the name of borrower
	    function peminjamTampil(e) {
            for (var i in $scope.peminjamList) {
                if (e == $scope.peminjamList[i].id) {
                    return $scope.peminjamList[i].nama;
                }
            }
            return ;
        };
		
		// get the name of room
		function ruanganTampil(e) {
            for (var i in $scope.ruanganList) {
                if (e == $scope.ruanganList[i].id) {
                    return $scope.ruanganList[i].nama;
                }
            }
            return;
        };

		// get all borrowed room in particular year
	    function fetchPeminjaman(year){
            var events = [];
            $http.get($scope.peminjamanJson + year).success(function(data, status, headers, config) {
				// EXPERIMENT CODE
                console.log("SUCCESS");
				$scope.peminjamanList_GLOBAL = data.results;
				// END OF EXPERIMENT CODE
            }).error(function(data, status, headers, config) {
                $scope.peminjamanList = "ERROR";
                $scope.peminjamanList_GLOBAL = "ERROR";
            });
            return events;
        };

		/* Filtering */		
		$scope.filterRuangan = "Semua";
		var date = new Date();
		var currentYear = date.getFullYear();
		fetchPeminjaman(currentYear);

		$scope.filterEvents = function(e) {
            var events = [];
			if ($scope.filterRuangan != "") {
                console.log("Filter ruangan : " + $scope.filterRuangan);
            } else {
			    console.log("FILTER NOTHING");
            }

            if (e == "refresh") {
                $('#filterQuery').val('Semua');
            }

            if (e != "") {
                console.log("e : " + e);
            } else {
			    console.log("e NOTHING");
            }

            console.log("BEFORE FOR LOOP================");
			console.log("peminjamanList_GLOBAL : " + $scope.peminjamanList_GLOBAL);

			for (var indeksPeminjaman in $scope.peminjamanList_GLOBAL) {
                console.log("ENTER FOR LOOP================");
				var filterByRuangan = ruanganTampil($scope.peminjamanList_GLOBAL[indeksPeminjaman].ruangan_id);
				//var filterByPeminjam = peminjamTampil($scope.peminjamanList_GLOBAL[indeksPeminjaman].peminjam_id);

				var waktuAwal = new Date($scope.peminjamanList_GLOBAL[indeksPeminjaman].waktu_awal);
				var waktuAkhir = new Date($scope.peminjamanList_GLOBAL[indeksPeminjaman].waktu_akhir);
				console.log("START===============================");
				if (!$scope.filterRuangan || $scope.filterRuangan == "Semua" || e == "refresh") {

				    console.log("START PUSH refresh");
					events.push({
						title: filterByRuangan,
						startTime: waktuAwal,
						endTime: waktuAkhir,
						allDay: false,
						borrower: peminjamTampil($scope.peminjamanList_GLOBAL[indeksPeminjaman].peminjam_id),
						description: $scope.peminjamanList_GLOBAL[indeksPeminjaman].deskripsi,
					});

                    console.log("PUSH refresh SELESAI");

				} else {
				    console.log("START PUSH FILTER");
					if (filterByRuangan == $scope.filterRuangan) {

						events.push({
							title: filterByRuangan,
							startTime: waktuAwal,
							endTime: waktuAkhir,
							allDay: false,
							borrower: peminjamTampil($scope.peminjamanList_GLOBAL[indeksPeminjaman].peminjam_id),
							description: $scope.peminjamanList_GLOBAL[indeksPeminjaman].deskripsi,
						});
						console.log("PUSH FILTER SELESAI");

					}
				}
			}

			$scope.eventSource = events;
			$scope.$broadcast('eventSourceChanged',$scope.eventSource);
    	    console.log("EVENTS ==> Sampai akhir");
    	    console.log(events);
		}
		$timeout(function() {
            angular.element(document.getElementById("calendarFilter")).triggerHandler('click');
        },200);
    }]);
    angular.element(document).ready(function() {
    	angular.bootstrap(document.getElementById("AppKalender"), ["calendarDemoApp"]);
  	});
</script>

<style>
    .table>tbody>tr>td {
        padding: 8px 0;
    }
</style>

<div class="content">
    <ul class="breadcrumb" style="margin-bottom: 10px;">
        <li class="active">Kalender Peminjaman</li>
    </ul>
    <div class="panel container-fluid">
        <div id="AppKalender" ng-controller="CalendarDemoCtrl" ng-init="filterEvents('filter')">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-5">
                    <div class="btn-toolbar" style="margin-bottom: 10px">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm" ng-disabled="isToday()" ng-click="today()">
                                Today
                            </button>
                        </div>
                    </div>

                </div>

                <!-- FILTERER -->
                <div class="col-md-offset-4 col-md-3 col-sm-offset-3 col-sm-5 col-xs-7">
                    <div class="btn-toolbar" style="margin-bottom: 10px">
                        <div class="btn-group">
                            <div class="input-group">
                                <div class="col-lg-6">
                                    <select ng-model="filterRuangan" class="form-control input-sm" id="filterQuery">
                                        <option value="Semua" selected>Semua</option>
                                        <option value="{[{ ruanganData.nama }]}" ng-repeat = "ruanganData in ruanganList">{[{ ruanganData.nama }]}</option>
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-6">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-sm" ng-click="filterEvents('filter')" id="calendarFilter">
                                                Filter
                                            </button>
                                        </span>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-sm" ng-click="filterEvents('refresh')" id="calendarRefresh">
                                                Refresh
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OF FILTERER -->
            </div>
            <div class="well well-sm">
                <calendar ng-model="currentDate" calendar-mode="mode" event-source="eventSource"
                      range-changed="reloadSource(startTime, endTime)"
                      event-selected="onEventSelected(event)"
                      time-selected="onTimeSelected(selectedTime)"></calendar>
            </div>
            <!--<div ng-init="filterEvents('refresh')">-->

            <!--</div>-->
        </div>
    </div>
</div>

