{% extends "base.html" %}


{% block head %}
<title>Log Perubahan Data Peminjaman</title>

<style>

	table th:hover {
		cursor: pointer;
	}
	
	.arrow-down:after,.arrow-up:after {
		content: ' ';
		position: relative;
		left: 2px;
		border: 8px solid transparent;
	}

	.arrow-down:after {
		top: 10px;
		border-top-color: black;
	}

	.arrow-up:after {
		bottom: 15px;
		border-bottom-color: black;
	}

	.arrow-down,.arrow-up {
		padding-right: 0px;
	}

</style>

{% endblock %}


{% block body %}
<legend>Log Perubahan Data Peminjaman</legend>

<script>
    var logList = angular.module('logList', []);
    logList.config(function($interpolateProvider) {
  		$interpolateProvider.startSymbol('{[{');
  		$interpolateProvider.endSymbol('}]}');
	});
	logList.controller("logListController", function($scope, $http) {
		
		$scope.logListData = [];

		$scope.fetchLog = function(year) {
            var url = "{% url 'log:jsonbase' %}" + year
            $http.get(url).success(function(data, status, headers, config) {
                var temp = data.results;
                angular.forEach(temp, function(value, key){

                    $scope.logListData = $scope.logListData.concat({
                        tanggal:        new Date(value.tanggal),
                        peminjaman_str: value.peminjaman_str,
                        aksi:           value.aksi,
                        deskripsi:      value.deskripsi,
                    });
                });
            }).error(function(data, status, headers, config) {
                $scope.logListData = "ERROR";
            });
        };

        $scope.fetchLog(new Date().getFullYear());

        $scope.openPeminjaman = function ( logItem ) {
            if(angular.isUndefined(logItem.peminjaman_id) || logItem.peminjaman_id === null) {
                window.alert("Peminjaman yang terkait telah dihapus dari sistem");
            } else {
                location.href = "{% url 'peminjaman:editbase' %}" + logItem.peminjaman_id;
            }
        };

		/* ORIGINAL CODE
        $scope.order = 'tanggal';
        $scope.sort = function ( coll ) {
            if($scope.order == coll) {
                $scope.order = "-" + coll;
            } else {
                $scope.order = coll;
            }
        };
		*/
		
		/* EXPERIMENTAL CODE (Add arrow-down and arrow-up) */
	
		// column state
		$scope.column = 'tanggal';
		
		// sort ordering (Ascending or Descending). True for Descending
		$scope.reverse = false; 
		
		$scope.sort = function ( coll ) {
		
			$scope.column = coll;
		
			if ($scope.reverse) {
				$scope.reverse = false;
				$scope.reverseclass = 'arrow-up';
			} else {
				$scope.reverse = true;
				$scope.reverseclass = 'arrow-down';
			}
			
		};
		
		// change the arrow direction
		$scope.sortClass = function(col) {
			if ($scope.column == col) {
				if ($scope.reverse) {
					return 'arrow-down'; 
				} else {
					return 'arrow-up';
				}
			} else {
				return '';
			}
		};
			
	});
</script>

<div ng-app="logList" ng-controller="logListController">
    <div class="panel container-fluid">
        <div class="col-lg-10">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th ng-click="sort('tanggal')" ng-class="sortClass('tanggal')">Tanggal</th>
                        <th ng-click="sort('peminjaman_str')" ng-class="sortClass('peminjaman_str')">Peminjaman</th>
                        <th ng-click="sort('aksi')" ng-class="sortClass('aksi')">Aksi</th>
                        <th ng-click="sort('deskripsi')"ng-class="sortClass('deskripsi')">Deskripsi</th>
                    </tr>
                </thead>
                <tbody>
                   <tr ng-repeat = "logData in logListData | orderBy : column : reverse">
                       <td>{[{ logData.tanggal | date:'dd MMM yyyy' : 'UTC' }]}</td>
                       <td ng-click="openPeminjaman(logData)">{[{ logData.peminjaman_str }]}</td>
                       <td>{[{ logData.aksi }]}</td>
                       <td><pre>{[{ logData.deskripsi }]}</pre></td>
                   </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

