{% extends "base.html" %}


{% block head %}
<title>Log Perubahan Data Peminjaman</title>
{% endblock %}


{% block body %}
<legend>Log Perubahan Data Peminjaman</legend>

<script>
    var logList = angular.module('logList', []);
    logList.config(function($interpolateProvider) {
  		$interpolateProvider.startSymbol('{[{');
  		$interpolateProvider.endSymbol('}]}');
	});
	logList.controller("logListController", function($scope, $http) {
		
		$scope.logListData = [];

		$scope.fetchLog = function(year) {
            var url = "{% url 'log:jsonbase' %}" + year
            $http.get(url).success(function(data, status, headers, config) {
                $scope.logListData = data.results;
            }).error(function(data, status, headers, config) {
                $scope.logListData = "ERROR";
            });
        };

        $scope.fetchLog(new Date().getFullYear());

        $scope.openPeminjaman = function ( logItem ) {
            if(angular.isUndefined(logItem.peminjaman_id) || logItem.peminjaman_id === null) {
                window.alert("Peminjaman yang terkait telah dihapus dari sistem");
            } else {
                location.href = "{% url 'peminjaman:editbase' %}" + logItem.peminjaman_id;
            }
        };

	});
</script>

<div ng-app="logList" ng-controller="logListController">
    <div class="panel container-fluid">
        <div class="col-lg-10">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Tanggal</th>
                        <th>Peminjaman</th>
                        <th>Aksi</th>
                        <th>Deskripsi</th>
                    </tr>
                </thead>
                <tbody>
                   <tr ng-repeat = "logData in logListData">
                       <td>{[{ logData.tanggal }]}</td>
                       <td ng-click="openPeminjaman(logData)">{[{ logData.peminjaman_str }]}</td>
                       <td>{[{ logData.aksi }]}</td>
                       <td>{[{ logData.deskripsi }]}</td>
                   </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

